
<body data-user="{{ user }}">
<link rel="stylesheet" href="/static/style.css">

<form action="/upload_avatar" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" required>
  <button>Profilbild hochladen</button>
</form>

<div class="app">
  <div class="sidebar">
    <div onclick="joinRoom('global')">🌍 Global</div>
    <div onclick="createGroup()">➕ Gruppe</div>
    {% if admin %}<div>👑 Admin</div>{% endif %}
  </div>

  <div class="chat">
    <div class="header">
      {{ user }}
      <button onclick="toggleTheme()">🌓</button>
    </div>

    <div id="messages"></div>

    <div class="input">
      <input id="msg" placeholder="Nachricht">
      <input type="file" id="file">
      <button onclick="send()">➤</button>
    </div>
  </div>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/chat.js"></script>
</body>
